rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read: if true;
      allow write: if false;
    }
    
    match /healthCheckResults/{resultId} {
      allow read: if true;
      allow write: if false;
    }
    
    match /cypressResults/{resultId} {
      allow read: if true;
      allow write: if false;
    }
    
    match /cypressLocks/{lockId} {
      allow read: if false;
      allow write: if false;
    }
  }
}

